*{
  margin: 0;
  padding: 0;
}
/* global style */
.container{
  width: 1250px ;
  margin: 0 auto;
}
body{
    font-family: sans-serif;
    background-color: #fcfcfc;
  }
  .d-flex{
    display: flex;
  }

  /* crud app css */
  .crud-content{
    margin-top: 2em;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    padding: 1em;
    background: white
  }
  .crud-top{
    justify-content: space-between;
    padding: 1em;
  } 
  .heading{
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 500;
  }  
  #add-employ-btn{
    background-color: black;
    color: white;
  }
  .crud-action{
    width:50%;
    justify-content: space-between;
  }
  .crud-top-btn{
    margin: 0.3em;
    padding: 0.5em;
    cursor: pointer;
    border: 1px solid rgb(208, 206, 206);   
    background-color: white; 
    text-transform: capitalize;
  }
  
  .search-box{
    position: relative;
    height: 100%;
    width: 40%;
  }
  .search-icon{
    position: absolute;
    left: 3%;
    top: 25%;
  }
  .search-input{
    width: 100%;
    outline: none;
    border: none;
    border-radius: 8px;
    height: 80%;
    padding-left: 2em;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  }
  .crud-table{
    width: 100%;
    border-collapse: collapse;
  }
  .crud-table-head{
    border: solid 1px  black;
    padding: 1em 0;
    text-transform: capitalize;
    font-weight: 500;
  }
  .sort-icon{
    font-size: 0.8em;
  }
  .crud-table-data{
    border: solid 1px;
    text-align: center;
    padding: 1em 0;
  }
  .modal-open{
    display: block;
  }
  .modal-close{
    display: none;
  }
  .modal{
    /* display: block;  */
  position: fixed; 
  z-index: 1; 
  padding-top: 25px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  }
  .modal-content{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
  }
  .modal-heading{
    padding: 1em 0;
    text-transform: uppercase;
    text-align: center;
    border: solid 1px rgb(231, 228, 228);
    margin-bottom: 1em;
  }
  .crud-form{
    flex-direction: column;
    justify-content: space-between;
  }
  .form-input-box{
    display: flex;
    text-transform: capitalize;
    flex-direction: column;
    margin-bottom: 1em;
    gap: 0.2em;
    letter-spacing: 2px;
  }
  .form-input{
    height: 2.5em;
    padding-left: 1em;
    border-radius: 5px;
    /* outline: none; */
    border: 1px rgb(210, 207, 207) solid;
  }
  .add-btn{
    background-color: black;
    color: white;
    padding: 0.6em 0;
    cursor: pointer;
    text-transform: capitalize;
  }
  .update-btn{
    background-color: rgb(51, 113, 46);
    padding: 0.6em 0;
    cursor: pointer;
    border: none;
    text-transform: capitalize;
  }
  .btn-cancel{
    background-color: rgb(163, 14, 14);
    padding: 0.6em 0;
    cursor: pointer;
    border: none;
    margin-top: 5px;
    text-transform: capitalize;
  }
  .empty-msg{
    position: absolute;
    right: 40%;
    top: 50%;
    text-transform: uppercase;
    color: #888;
    font-size: 2em;
  }
  .select-option{
    display: flex;
    align-items: center;
    gap: 0.3em;
  }
  .table-manage-btn{
    border: none;
    background-color: transparent;
    padding:0.3em;
    font-size: 1em;
    cursor: pointer;
  }
.deleteAll-btn{
  background-color:#e31212;
}
.crud-bottom{
  justify-content: space-between;
  align-items: baseline;
}
.bottom-slide-btn{
  background-color: black;
  color: white;
  border: none;
  padding:0.3em;
  font-size: 1em;
  margin: 1em 1em 0;
  cursor: pointer;
}
.page-count{
  background-color: black;
  color: white;
  border-radius: 50px;
  padding:0.3em 0.5em;
  font-size: 1em;
  cursor: pointer;
  display: block;
}
/* hover effects  */
.importExcel-btn:hover{
  background-color: black;
  color: white;
}
.table-row:hover{
  background-color: #f3f3f3;
}